* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.mainpage {

    background: url('m.jpg') no-repeat center center/cover;
    /* opacity: 0.7;
    z-index: -1; */
}
.mainpage::before{
    content: "";
    background-color: black;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
header {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    /* background-color: black;
    opacity: 0.5; */
}

/* header::before{
    content: "";
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;


} */
.menu {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}

.businessLogo {
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 37px;
    /*padding-top: 21px;
    padding-left: 23px; 
    margin-top: 20px; */
    margin-right: 275px;
    /* opacity: 1; */
    /* color: black; */
}

.businessLogo a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
    text-shadow: green;
}

.businessLogo a:hover {
    color: rgb(54, 50, 50);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    padding-left: 263px;
    padding: 13px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}

.nav ul li {
    /* border: 1px solid black; */
    padding: 20px;
}

.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    opacity: 1.0;
}

.nav ul li a:hover {
    color: crimson;
}

.button {
    background-color: black;
    text-decoration: none;
    color: blanchedalmond;
    height: 50px;
    width: 132px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 247px;
    /* margin-top: 17px; */
}

.button:hover {
    background-color: rgb(32, 32, 32);
}

.button a {
    font-size: 12px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    width: 100%;
    height: 574px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;

}

.visibleheading {
    /* font-weight: bolder; */
    font-size: 100px;
    color: white;
    margin-top: -150px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Varela Round', sans-serif;
    /* font-weight: bold; */

}
.heading p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
margin-top: 26px;
}
#main::before {
    content: "";
    background-color: black;
    opacity: 0.7;
}
.img-con{
   background: url('t.jpg') no-repeat center center/cover;
   height: 266px;
   width: 1216px;
   border-radius: 3px;
}
.img-con2{
   background: url('a.jpg') no-repeat center center/cover;
   height: 266px;
   width: 1216px;
   border-radius: 3px;
}
.content{
    display: flex;
    padding: 61px 140px;
    flex-direction: row;
    margin-top: 29px;
}
.about-img{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 28px;
    padding-bottom: 73px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.con-p{
    font-family: 'Varela Round', sans-serif;
    text-align: start;
}
#head{
    font-size: 30px;
font-weight: bold;
margin-bottom: 22px;
}
.content2{
    display: flex;
    padding: 61px 140px;
    flex-direction: row;
    /* margin-top: 29px; */
}
.disc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    height: 400px;
    /* opacity: 0.7; */
    background: url('1.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 22px;
    padding: 150px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    
}
#Phead{
    font-size: 40px;
    margin-bottom: 20px;
}
.photo-gal{
    display: flex;
    flex-direction: row;
    padding: 100px 133px;
    width: 100%;
    
}
#box1{
   background: url('2.jpg') no-repeat center center/cover;
    height: 407px;
    width: 33.3%;
    margin: 0px 2px
   
    
}
#box2{
    background: url('3.jpg') no-repeat center center/cover;
    height: 407px;
    width: 33.3%;
    margin: 0px 2px
    
}
#box3{
    background: url('4.jpg') no-repeat center center/cover;
    height: 407px;
    width: 33.3%;
    margin: 0px 2px
}
footer {
    background-color: rgb(31, 29, 29);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
footer div{
    color: white;
}

